@import "../../../assets/variable.scss";

.foo {
  background: $bg-Gray-third;
  padding: 60px 0;
  @media (max-width: $lg) {
    display: none;
  }
  &__store {
    img {
      padding-bottom: 20px;
    }
    .btn-search-shop {
      width: 270px;
      background: $bg-Orange;
      border-radius: 0;
      font-size: 20px;
      font-weight: 800;
      color: $bg-White;
    }
  }
  &__item {
    &-title {
      font-size: 22px;
      font-weight: 800;
      padding-bottom: 15px;
      color: $bg-White;
    }
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding-bottom: 5px;
      }
      a {
        color: $f-gray;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          color: $bg-Orange;
        }
      }
    }
    &-icon {
      font-size: 40px;
      color: $f-gray;
    }
    &-form {
      display: flex;
      input {
        width: 170px;
        height: auto;
        display: inline-block;
        border-radius: 0px;
      }
      a {
        background: $bg-Black;
        color: $bg-White;
        font-size: 30px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        width: 80px;
        margin: 0 0 0 2px;
      }
    }
  }
}
.copyright {
  font-size: 20px;
  color: #818181;
  margin-top: 50px;
  text-align: center;
}
.footermobile {
  background-color: #555;
  color: $bg-White;
  padding: 10px 0;
  display: none;
  @media (max-width: $lg){
    display: block;
  }
  .expander {
    &-title {
      padding-left: 20px;
      h4 {
        color: $bg-White;
        font-size: 4vw;
      }
    }
    .divider-img {
      margin: 0 !important;
    }
    &-des {
      background-color: #222;
      ul {
        list-style-type: none;
        padding: 0;
        margin-left: 20px;
        li {
          padding: 10px;
          font-size: 4vw;
          a {
            color: $bg-White;
            &:hover {
              color: $bg-Orange;
            }
          }
        }
      }
    }
  }
  .group {
    margin: 30px 20px 0;
    .title {
      font-weight: 800;
      font-size: 3vw;
    }
    .cont {
      font-size: 6vw;
      line-height: 6vw;
    }
    .form {
      display: flex;
      input {
        width: 100%;
      }
      a,
      input {
        font-size: 4vw;
        color: $bg-Black;
        padding: 0 20px;
        line-height: 10vw;
      }
      a {
        width: 12vw;
        color: $bg-Orange;
        text-align: center;
        background-color: #222;
      }
    }
  }
  .scroll-top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    .icon{
      line-height: 20px;
      padding: 10px;
      background-color: #a0a0a0;
      margin-right: 15px;
    }
  }
  .search-shop {
    margin: 30px 20px;
    .btn-searchshop {
      background-color: $bg-Orange;
      color: $bg-White;
      font-weight: 800;
      padding: 20px;
      width: 100%;
      font-size: 4vw;
      line-height: 4vw;
    }
  }
}
