@import "../../assets/variable.scss";

.navbar {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  height: 70px;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: $bg-White;
  z-index: 1;
  .logo {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-right: 1px solid #bdbdbd;
    padding: 0 20px 10px;
    img {
      width: 25px;
    }
    h4 {
      margin: 0;
      font-weight: 800;
      padding-left: 15px;
    }
  }
  &__menu {
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 4px 0px;
    .icon {
      cursor: pointer;
      font-size: 23px;
    }

    .right {
      ul {
        list-style-type: none;
        li {
          float: left;
          line-height: 23px;
          padding: 0 5px;
          .account {
            cursor: pointer;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &-close {
    .logo {
      width: 70px !important;
      img {
        margin-bottom: 10px;
      }
      h4 {
        display: none;
      }
    }
    .navbar__menu {
      width: calc(100% - 70px) !important;
    }
  }
}

.sidebaradmin {
  position: fixed;
  width: 250px;
  // margin-top: 70px;
  border-right: 1px solid #bdbdbd;
  height: calc(100vh - 70px);
  transition: all 0.1s ease-out;
  background-color: $bg-White;
  ul {
    list-style-type: none;
    padding: 40px 20px 20px;
    li {
      .active {
        color: $bg-Orange;
      }
      a {
        display: flex;
        align-items: flex-end;
        padding: 20px 0;
        color: $bg-Black;
        font-size: 18px;
        width: 100%;
        line-height: 23px;
        transform: all 0.4s;
        p {
          margin: 0 20px;
          line-height: 18px;
        }
        &:hover {
          color: $bg-Orange;
        }
      }
    }
  }
  &-close {
    width: 70px !important;
    li {
      a {
        justify-content: center;
        p {
          display: none;
        }
      }
    }
  }
}
.bodyadmin {
  margin-left: 250px;
  margin-top: 70px;
  .wrapper{
    header{
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .content {
      padding: 0 20px;
    }
  }
}
