@import "../../../assets/variable.scss";
$background: #303030;
$colorFont-priary: #fff;
.headerTop {
  background: $bg-Gray;
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    color: $bg-White;
    font-size: 13px;
    padding: 6px 12px;
    a {
      color: $bg-White;
      text-decoration: none;
      &:hover {
        color: $bg-Orange;
      }
    }
  }
  @media (max-width: $md) {
    display: none;
  }
}
.icon-sm {
  font-size: 18px;
  margin-right: 5px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  font-weight: 700;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headerBottom {
  background: #f1f1f1;
  padding: 12px 0;
  &__carousel {
    width: 50%;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
}

//NAVBAR
.nav-big {
  @media (max-width: $md) {
    display: none !important;
  }
}
.nav {
  padding: 17px 0;
  &__menu {
    &-item {
      cursor: pointer;
      border-right: 1px solid $bg-Gray-second;
      padding: 0 20px;
      color: $bg-Black;
      &:last-child {
        border-right: none;
      }
      h4 {
        margin: 0;
        font-size: 23px;
        font-weight: 800;
        padding-right: 5px;
        a {
          text-decoration: none;
          color: $bg-Black;
          &:hover {
            color: $bg-Orange;
          }
        }
      }
      svg {
        margin-bottom: 2px;
      }
      &:hover {
        color: $bg-Orange;
      }
    }
  }
  &__search-form {
    border: 1px solid $bg-Gray-second;
    padding: 5px 10px;
    input {
      width: 220px;
      border: none;
      font-size: 13px;
      padding-left: 7px;
      &:focus {
        outline: none;
      }
    }
    .icon {
      font-size: 20px;
    }
  }
  &__account {
    position: relative;
    &-avatar {
      width: 50px;
      height: 50px;
      img {
        border-radius: 50%;
        @extend .img-cover;
      }
    }
    &:hover {
      .nav__account-select {
        display: block;
      }
    }
    &-select {
      display: none;
      position: absolute;
      width: 180px;
      background-color: #f1f1f1;
      top: -5px;
      left: 32%;
      transform: translate(-50%, 50%);
      border-radius: 3px;
      z-index: 100;
      &::before {
        content: "";
        position: absolute;
        height: 18px;
        background-color: transparent;
        width: 100%;
        top: -18px;
      }
      &::after {
        content: "";
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #f1f1f1;
        top: -8px;
        left: 50%;
      }
      h4 {
        font-weight: 800;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        border-bottom: 1px solid $bg-Black;
        margin: 0;
      }
      ul {
        padding: 10px 0;
        margin: 0;
        list-style-type: none;
        li {
          padding: 6px 15px;
          text-align: center;
          &:hover {
            background-color: #fffefe;
          }
        }
        a, div {
          text-decoration: none;
          color: $bg-Black;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}

//navbar mobile
.navbarmobile {
  display: none;
  height: 20vw;
  position: relative;
  @media (max-width: $md) {
    display: block !important;
  }
  .logo {
    display: flex;
    justify-content: center;
    border-right: 1px solid #bdbdbd8f;
    img {
      padding: 15px 0;
      width: 7vw;
    }
  }
  .list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 10vw;
      a {
        color: $bg-Black;
      }
    }
  }
  .menu-mobile {
    height: 100%;
    float: right;
    .wrapper {
      height: 20vw;
      width: 20vw;
      background-color: #303030;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: #fff;
      cursor: pointer;
    }
  }
  .menu-list {
    position: absolute;
    z-index: 20;
    top: 100%;
    width: 100%;
    height: calc(100vh - 20vw);
    background-color: #303030;
    overflow-y: scroll;
    overflow-x: hidden;
    .product {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          padding: 20px 0 20px 20px;
          border-bottom: 1px solid #bdbdbd;
          &:last-child {
            border: none;
          }
          a {
            color: $bg-White;
            font-size: 5vw;
            font-weight: 900;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .page {
      border-top: 5px solid #bdbdbd;
      border-bottom: 5px solid #bdbdbd;
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        padding: 20px 0 20px 20px;
        display: flex;
        a {
          color: $bg-White;
          font-size: 5vw;
          font-weight: 900;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          span {
            margin-left: 20px;
          }
        }
      }
    }
    .content {
      color: #bdbdbd;
      font-size: 5vw;
      font-weight: 700;
      text-align: center;
      padding: 20px 0;
      p {
        margin: 0;
        &:last-child {
          color: $bg-White;
        }
      }
    }
  }
}
.divider-img-navbar {
  background: url("../../../assets/images/bg_divider_menu.jpg") repeat-x 7px;
  margin: 7px 0;
  height: 1px;
}
