@import "../../assets/variable.scss";

.home-title {
  font-size: 30px;
  padding-bottom: 35px;
  font-weight: 800;
  text-align: center;
}

.home {
  &__banner {
    img {
      width: 100%;
      height: 100vh;
      max-width: 1920px;
      object-fit: cover;
      @media (max-width: $lg) {
        height: auto;
      }
    }
  }
}

//CATEGORY
.home {
  &__cat {
    padding: 40px 0;
    &-title {
      @extend .home-title;
    }
    .col-lg-4 {
      padding: 0 5px;
    }

    .cat__item {
      position: relative;
      height: 270px;
      margin: 5px 0;
      .item__group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
          display: block;
          text-decoration: none;
          color: $bg-White;
          text-align: center;
          &:hover {
            color: $bg-Orange;
          }
        }
        &-title {
          font-size: 23px;
          font-weight: 900;
          line-height: 1.6rem;
          padding-bottom: 20px;
        }
        &-sub {
          font-size: 16px;
          font-weight: 900;
          padding: 3px 0;
        }
      }

      .item__bg-black {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        position: absolute;
        z-index: -1;
        @extend .img-cover;
      }
    }
  }
}
.home__bestseller {
  padding: 40px 0;
  &-title {
    @extend .home-title;
  }
}
