@import "../../assets/variable.scss";
//EXPANDER
.expander {
  &-title {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding: 30px 0;
    h4 {
      line-height: 20px;
      font-size: $font-big;
      font-weight: 800;
      margin: 0;
      padding-right: 5px;
    }
  }
  &-des {
    padding: 20px 0;
    font-size: 16px;
    display: none;
  }
  .open {
    color: $bg-Orange;
  }
  .openDes {
    display: block;
  }
}

//SELECT
.select {
  position: relative;
  &-disabled{
    opacity: .5;
    cursor: not-allowed;
  }
  &__isSelected {
    border: 1px solid $bg-Black;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
  }
  &__option {
    display: none;
    position: absolute;
    background-color: $bg-White;
    padding: 4px 0 8px;
    z-index: 10;
    ul {
      list-style-type: none;
      padding: 0 23px;
      li {
        float: left;
        border: 1px solid $bg-Black;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        button{
          font-weight: 800;
        }
        &:hover{
          background-color: #97979733;
        }
      }
    }
    &-open{
      display: block !important;
    }
    @media (max-width: $sm) {
      width: 200px;
      left: 45%;
    }
  }
}
.btn:disabled{
  opacity: .4;
}