@import "../../assets/variable.scss";

.thumbnail {
  padding: 0 10px;
  img {
    @extend .img-cover;
    margin-bottom: 10px;
  }
  &__caption {
    h4,
    p,
    a {
      margin: 0;
      padding: 2px 0;
      font-size: 16px;
      text-align: center;
      color: $bg-Black;
      @media (max-width: $sm) {
        font-size: 12px;
      }
    }
    h4 {
      font-weight: 800;
    }
    a {
      text-decoration: none;
      font-weight: 800;
      &:hover {
        color: $bg-Orange;
      }
    }
  }
}

.carousel-product {
  .slick-arrow {
    color: $f-gray;
    &:hover {
      color: $bg-Orange;
    }
    &::before {
      content: "";
    }
    @media (max-width: $sm) {
      display: none !important;
    }
  }
}
.carousel-control {
  font-size: 55px;
  margin: -105px 0 0 -18px;
  @media (max-width: $sm) {
    display: none;
  }
}

//product list basic
.product-right {
  .thumbnail {
    &:hover {
      .thumbnail__bg-img {
        display: none;
        &--hover {
          display: block;
        }
      }
    }
    &__bg {
      position: relative;

      &-icon {
        position: absolute;
        top: 86%;
        left: 86%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: $bg-Orange;
        cursor: pointer;
      }
      .btn-thumbnail {
        position: absolute;
        top: 92.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $bg-Orange;
        color: $bg-White;
        font-weight: 900;
        border-radius: 0;
        transition: 0.5s;
        display: none;
        font-size: 16px;
        width: 125px;
        @media (min-width: $md) and (max-width: $lg) {
          top: 91%;
        }
        @media (max-width: $sm) {
          display: none !important;
        }
      }
      &-img {
        display: block;
        &--hover {
          display: none;
        }
      }
    }
    &:hover {
      .btn-thumbnail {
        display: block;
      }
    }
    &__caption {
      &-type {
        color: $bg-Orange;
      }
    }
  }
}

.empty-box {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  p {
    font-size: 23px;
    color: $bg-Gray;
    font-weight: 800;
    padding: 15px 0;
  }
}
