@import '../../assets/variable.scss';
.modal-primary{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0000001c;
    display: flex;
    z-index: 10;
}