@import "../../assets/variable.scss";

.checkout {
  position: relative;
  margin: 30px 0;
  &__left {
    .header {
      background-color: #f1f1f1;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        padding: 5px 20px;
        margin: 0;
        font-weight: 900;
        font-size: $font-big;
      }
      span {
        color: $bg-Orange;
        font-size: 16px;
        padding-right: 15px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .choose-address {
      ul {
        padding: 0 0 0 15px;
        li {
          padding: 5px 0;
          .address-item {
            .account-info {
              display: flex;
              color: $bg-Black;
              font-size: 16px;
              font-weight: 800;
              .phone {
                margin-left: 25px;
              }
            }
            .address-full {
              font-size: 16px;
            }
          }
          .btn-address {
            border-radius: 2;
            margin-left: 20px;
            &--finish {
              background-color: $bg-Orange;
              color: $bg-White;
            }
            &--close {
              border: 1px solid $bg-Gray-second;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .orderForm {
      padding: 0 15px 20px;

      .input-group {
        padding: 12px 0;
        input {
          width: 100%;
          border: 1px solid $bg-Gray-second;
          border-radius: 2px;
          font-size: 16px;
          line-height: 27px;
          padding: 5px 15px;
          &:focus {
            border: 1px solid $bg-Black;
          }
        }
      }
    }
    .shipping {
      &__info {
        margin: 0 15px 20px;
        display: flex;
        justify-content: space-between;
        .charge {
          margin: 0;
          font-size: 20px;
          color: $bg-Black;
          font-weight: 900;
        }
      }
    }
    .payment {
      &__info {
        margin: 0 15px 20px;
        .check-group {
          padding: 10px 0;
          font-size: 16px;
        }
      }
    }
  }
  &__right {
    background-color: #f1f1f1;
    padding: 20px;
    .header h3 {
      font-size: $font-big;
      color: $bg-Black;
      font-weight: 800;
    }
    .order__info {
      padding: 20px 0;
      .item-group {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding: 3px 0;
        .title {
          font-weight: 700;
        }
      }
    }
    .totalPrice {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      font-size: 20px;
      font-weight: 800;
      .content {
        color: $bg-Orange;
      }
    }
    .btn-checkout {
      width: 100%;
      padding: 20px 0;
      margin-top: 10px;
      background-color: $bg-Orange;
      border-radius: 0;
      color: $bg-White;
      font-weight: 900;
      font-size: 23px;
    }
    .product {
      &-list {
        padding: 10px 0;
      }
      &-item {
        margin: 15px 0;
        // display: flex;
        // img {
        //   width: 40px;
        //   height: 40px;
        // }
        .top {
          font-size: 18px;
          color: #808080;
          .name {
            font-weight: 800;
            width: 60%;
          }
          .price {
            float: right;
          }
        }
        .bottom {
          display: flex;
          font-size: 18px;
          color: #808080;
          .size {
            width: 60%;
          }
        }
      }
    }
  }
}
.ant-checkbox + span {
  padding-left: 30px !important;
  font-size: 16px !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  &-active {
    display: flex;
  }
}

//order success
.order-success {
  margin: 50px 0;
  header {
    .top {
      display: flex;
      align-items: center;
      .content {
        width: 100%;
        text-align: center;
        h1 {
          font-weight: 900;
          margin: 0;
        }
        p {
          font-weight: 900;
          font-size: 30px;
          margin: 0;
        }
        @media only screen and (max-width: 540px){
          h1, p{
            font-size: 16px;
          }
        }
      }
    }
    .bottom {
      padding: 20px 0;
      span {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
  .body {
    .content {
      margin-top: 40px;
      text-align: center;
      span {
        font-weight: 900;
        font-size: 20px;
      }
    }
    .button-group {
      display: flex;
      justify-content: center;
    }
    .btn-ordersuccess {
      padding: 13px 50px;
      background-color: #ff5f17;
      border-radius: 0;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      margin-top: 40px;
    }
  }
}
