@import "../../assets/variable.scss";

.prdCart {
  padding: 30px 0;
  &__item {
    .divider-img {
      padding: 30px 0;
    }
  }
  &__left {
    img {
      @extend .img-cover;
    }
  }
  &__info {
    a {
      text-decoration: none;

      h5 {
        font-size: 21px;
        color: $bg-Black;
        font-weight: 900;
        padding-bottom: 10px;
        &:hover {
          color: $bg-Orange;
        }
      }
    }
    span {
      font-size: 18px;
      color: $bg-Gray-second;
    }
  }
  &__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    h5 {
      font-size: 23px;
      color: $bg-Orange;
      font-weight: 900;
      margin: 0;
      padding: 0;
    }
    p {
      color: $bg-Orange;
      margin: 0;
    }
    .btn-cart {
      border: 1px solid $bg-Black;
      border-radius: 0;
      padding: 3px 50px;
      margin: 1px 0;
      font-size: 22px;
      &--Background {
        background-color: $bg-Black;
        color: $bg-White;
      }
    }
  }
}
