@import "../../assets/variable.scss";

.prdCart {
  padding: 30px 0;

  .divider-img {
    padding: 30px 0;
  }

  &__left {
    img {
      @extend .img-cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    a {
      text-decoration: none;

      h5 {
        font-size: 21px;
        color: $bg-Black;
        font-weight: 900;
        &:hover {
          color: $bg-Orange;
        }
      }
    }
    .price {
      font-size: 18px;
      color: $bg-Gray-second;
    }
  }
  &__right {
    height: 100%;
    text-align: right;
    h5 {
      font-size: 23px;
      color: $bg-Orange;
      font-weight: 900;
      margin: 0;
      padding: 0;
    }
    p {
      color: $bg-Orange;
      margin: 0;
    }
    .button-group {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .btn-cart {
        border: 1px solid $bg-Black;
        border-radius: 0;
        padding: 3px 50px;
        margin: 1px 0;
        font-size: 22px;
        &--Background {
          background-color: $bg-Black;
          color: $bg-White;
        }
        .icon-love {
          font-size: 22px;
        }
      }
    }
    @media (max-width: 992px) {
      margin-top: 10px;
      h5 {
        float: right;
      }
      p {
        float: left;
        font-size: 20px;
        font-weight: 600;
      }
      .button-group {
        clear: both;
        flex-direction: row;
        justify-content: flex-end;
        .btn-cart {
          padding: 0px 25px;
          margin: 1px 3px;
        }
      }
    }
  }
}

// .btn-enable{
//   &:disabled{
//     opacity: .5;
//     cursor: not-allowed;
//   }
// }
