@import "../../assets/variable.scss";

.nav {
  // &-account {
  //   padding: 0 15px;
  // }
  // &__top {
  //   display: flex;
  //   align-items: center;
  //   &-img {
  //     width: 65px;
  //     height: 65px;
  //     border-radius: 50%;
  //     margin-right: 20px;

  //     img {
  //       border-radius: 50%;
  //       @extend .img-cover;
  //     }
  //   }
  //   h5 {
  //     margin: 0;
  //     font-size: 16px;
  //     font-weight: 800;
  //   }
  //   span {
  //     font-weight: 800;
  //     color: $bg-Gray-second;
  //     cursor: pointer;
  //   }
  // }
  // .divider-img {
  //   margin: 25px 0;
  // }
  &__account {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 4px 0px;
    margin: 30px 0;
    // &-item {
    //   width: 100%;
    //   font-size: 18px;
    a {
      padding: 10px 0;
      color: $bg-Black;
      font-size: 18px;
      text-align: center;
      &:hover {
        color: $bg-Orange;
      }
      
      div {
        padding: 10px 0;
      }
    }
    .active {
      div {
        color: $bg-Orange;
        border-bottom: 2px solid $bg-Orange;
      }
    }
  }
}

// content
.account {
  &__cont {
    padding: 20px 30px;
    margin: 30px 0;
    background-color: #f1f1f1cc;
    min-height: 380px;
  }
  .inner {
    position: relative;
    &__top {
      h4 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        margin: 0;
      }
      &-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-modal {
          padding: 10px 20px;
          background: $bg-Orange;
          border-radius: 0;
          font-size: 18px;
          color: $bg-White;
        }
      }
    }
    .divider-img {
      margin: 23px 0;
    }
    .profile {
      &__left {
        .child__group {
          padding: 10px 0;
          p {
            color: #959595;
            float: right;
            margin: 10px 0 0 0;
          }
          input {
            line-height: 40px;
            padding: 4px 10px;
            width: 100%;
          }
          .is-valid {
            input {
              border: 1px solid $bg-Orange;
            }
            .valid-msg {
              display: block;
            }
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .image {
          width: 130px;
          height: 130px;
          img {
            border-radius: 50%;
            @extend .img-cover;
          }
        }
        .inputfile {
          width: 100%;
          margin-top: 10px;
        }
      }
      .address-item {
        padding: 20px 0;
        .left {
          p {
            float: right;
            color: #959595;
          }
          h6 {
            color: $bg-Black;
            font-size: 17px;
            margin: 0;
          }
          .name-group {
            display: flex;
            align-items: center;
            .address-default {
              background-color: #00bfa5;
              border-radius: 2px;
              padding: 0px 12px;
              margin-left: 10px;
              color: $bg-White;
              font-size: 14px;
            }
          }
        }
        .right {
          .btn-medium-border {
            float: right;
          }
          .control {
            text-decoration: underline;
            display: flex;
            float: right;
            margin-bottom: 20px;
            cursor: pointer;
            &-edit {
              margin: 0 10px;
            }
          }
        }
      }
    }
    &__loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      &-active {
        display: flex;
      }
    }
  }
}
.btn-account {
  background-color: $bg-Orange;
  border-radius: 0;
  color: $bg-White;
  font-size: $font-medium;
  font-weight: 800;
  padding: 7px 23px;
  margin: 20px 0 0 0;
  &:hover {
    color: $bg-White;
  }
}
.valid-msg {
  display: none;
  color: $bg-Orange;
  padding-top: 10px;
}
.fogetPass {
  margin-top: 15px;
  a {
    text-decoration: none;
    color: $bg-Black;
  }
}
.btn-medium-border {
  border: 1px solid $bg-Black;
}
