$bg-Orange: #FF5F17;
$bg-Gray: #303030;
$bg-White: #fff;
$bg-Black: #222;
$bg-Gray-second: #bdbdbd;
$bg-Gray-third: #4c4c4c;
$f-gray: #CCCCCC;
//font size
$font-small: 13px;
$font-medium: 16px;
$font-big: 23px;
$font-giant: 30px;

//container
$xx-l: 1400px;
$x-l: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
  }

.in-title{
  font-size: $font-big;
  font-weight: 800;
  padding: 10px 0 30px 0;
  text-align: center;
}